body {
    font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background: rgb(18, 23, 28);
    padding: 25px;
    margin: 0;
    color: white;
    a {
        color: white;
    }
}
